@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchview__searchTerm {
  padding: 16px;
  margin-right: 4px;
  font-size: 22px;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.searchview__searchTerm:focus{
  border: 1px solid rgb(54, 191, 222);
  
}