@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.searchview{
}

.searchview__search {
}

.searchview__searchTerm {
}

.searchview__searchTerm:focus{
}

.searchview__searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}